body {
    /* color: white; */
    margin:20px;
    /* background-color: black; */
    font-family: 'Ubuntu Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}


#title {
    /* color: #f4eee8; */
    opacity: 0.75;
}

.vertical-space{
    margin-top:5%;
}

.article-content{
    text-align: justify;
    padding-top:20px;
    padding-bottom:20px;

}

.custom-card{

    /* color:white; */
    /* background-color:black; */
    /* margin-top:5%; */
    border-top:none;
    border-left: none;
    border-bottom: none;
    border-right: 1px solid #343f56;
    text-align: right;
    border-radius: 0;
}
a.list-group-item {
    color: #343f56;
}
a.list-group-item:hover {
    background-color:#ffd56b !important;
    text-decoration: none;
}

.custom-social:hover{
    background-color: #30475e !important;
}

.form-control-lg{
    font-size: 18px;
}