body {
    color: white;
    margin:20px;
    background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

.main-content {
    background-color: black;
}

#title {
    color: #f4eee8;
    opacity: 0.75;
}

.vertical-space{
    margin-top:5%;
}

.article-content{
    text-align: justify;
    border-top:0.5px solid #5f5f5f;
    padding-top:20px;
    padding-bottom:20px;

}

.custom-card{
    color:white;
    background-color:black;
    margin-top:5%;
    border-right: 1px solid #334443;
    text-align: right;
}

a.list-group-item:hover {
    background-color:#364547 !important;
}

.form-control{
    color:white;
    border-radius: 0;
    background:transparent;
    border:none;
    border-bottom: 1px solid #374045;
}