{% extends "layout.html" %}

{% block content %}

<div class="col-md-10">
    <div class="card mb-3" style="background-color:black;">
        <div class="row g-0">
            <!-- <div class="col-md-4">
                <img src="{{ url_for('static',filename='assets/icon.png') }}" alt="...">
                
            </div> -->
            <div class="col-md-10">
                <div class="card-body" style="background-color:black;border-left: 1px solid #374045;padding: 0;">
                    <h3 class="card-title" style="padding-left: 10px;background-color: #374045;height:45px">Register yourself here</h3>
                    <!-- <hr> -->
            
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group" style="">
                            <div class="form-group" >
                                <!-- {{ form.username.label(class="form-control-label") }} -->

                                {% if form.username.errors %}
                                {{ form.username(class="form-control form-control-lg is-invalid", placeholder="username") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.username(class="form-control form-control-lg", placeholder="username") }}
                                {% endif%}
                            </div>

                            <div class="form-group">
                                <!-- {{ form.email.label(class="form-control-label") }} -->

                                {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid",placeholder="email") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.email(class="form-control form-control-lg",placeholder="email") }}
                                {% endif%}
                            </div>

                            <div class="form-group">
                                <!-- {{ form.password.label(class="form-control-label") }} -->

                                {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid",placeholder="password") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.password(class="form-control form-control-lg",placeholder="password") }}
                                {% endif%}
                            </div>

                            <div class="form-group">
                                <!-- {{ form.confirm_password.label(class="form-control-label") }} -->

                                {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="form-control form-control-lg is-invalid", placeholder="confirm password") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.confirm_password(class="form-control form-control-lg", placeholder="confirm password") }}
                                {% endif%}
                            </div>
                        </fieldset>
                        <br>
                        <div class="form-group" style="padding-left: 10px;">
                            {{ form.submit(class="btn btn-outline-light") }}
                        </div>

                    </form>
                    <br>
                    <p class="card-text" style="padding-left: 10px;"><small class="text-muted">Already registered? <a class="ml-2"
                                href="{{ url_for('login') }}">Login</a></small></p>
                </div>
            </div>

            

        </div>
    </div>
</div>

{% endblock content %}